.row {
  height: 60px;
  text-align: center;
  color: rgb(122, 120, 120);
  font-size: 18px;
  font-weight: 500;
}

.row:nth-child(2n + 0) {
  background-color: rgb(185, 185, 185);
}

.type {
  text-transform: capitalize;
}

.type,
.amount {
  border-right: 2px solid rgb(221, 221, 221);
}
